@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: black;
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
}

#image-div {
  --background-color: rgba(0, 0, 0, 70%);
  --color: snow;
  --padding: .5rem 0;
  color: var(--color);
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

#image-header {
  background-color: var(--background-color);
  position: absolute;
  top: 30%;
  padding: var(--padding);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-footer {
  background-color: var(--background-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

#image-footer a {
  color: var(--color);
  margin: 0 .2rem;
  position: relative;
  text-decoration: none;
}

#image-footer a::after {
  content: '';
  position: absolute;
  bottom: -.1rem;
  left: 0;
  border-bottom: 1px solid var(--color);
  width: 100%;
  transition: .2s width;
  pointer-events: none;
}

#image-footer a:hover::after,
#image-footer a:focus::after {
  width: 0;
}

